@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

html {
body {
padding: 0;
margin: 0;
font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
}
}

.hero {
visibility: hidden;
height: 100vh;
.container {
width: 100%;
// min-width: 1440px;
margin: 0 auto;
.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  height: 100vh;
  .hero-content {
    width: 50%;
    .hero-content-inner {
      width: 400px;
      color: #323232;
      margin: 0 auto;
      h1 {
        font-weight: 500;
        font-size: 40px;
      }
      h3 {
        font-weight: 500;
        font-size: 20px;        
      }
      .hero-content-line {
        margin: 0;
        height: 44px;
        overflow: hidden;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        padding-right: 48px;
        margin-bottom: 56px;
      }
    }
  }
  .hero-images {
    width: 50%;
    height: 100vh;
    position: relative;
    .hero-images-inner {
      .hero-image {
        position: absolute;
        overflow: hidden;
        &.sea {
          top: 0;
          right: 0px;
          width: 45%;
          height: 50%;
        }
        &.train {
          bottom: 24px;
          left: 0px;
          width: 52%;
          height: 65%;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }
}
}
}
